.header-nav{
  display: flex;
  justify-content: center;
}
.header-ul {
  display: flex;
  list-style: none; /*불릿기호를 지웁니다*/
  padding: 0; /*안쪽 여백을 지웁니다*/
  align-items: center;
}
.header-ul li {
  margin-left: 10px; /* 왼쪽 외곽 여백을 부여합니다*/
}
